<%- layout('layouts/boilerplate') %>
<h1>Campground</h1>

<% for( let campground of campgrounds ) { %>
<div class="row">
  <div class="card">
    <div class="row">
      <div class="col-md-4">
        <img
          src="https://images5.alphacoders.com/862/862841.jpg"
          class="card-img img-fluid"
          alt="Image"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <small class="card-subtitle mb-2 text-muted">
            <%= campground.location %>
          </small>
          <p class="card-text"><% campground.description %></p>
          <a
            class="card-link btn btn-info"
            href="/campgrounds/<%=campground._id %>"
            >Show More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
