<%- layout('layouts/boilerplate') %>
<div class="container">
  <h1 class="heading-2 text-center">Create New</h1>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card p-5">
        <form
          class="form needs-validation"
          action="/campgrounds"
          method="POST"
          enctype="multipart/form-data"
          novalidate
        >
          <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input
              class="form-control"
              type="text"
              name="campground[title]"
              id="title"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="from-label" for="location">Location</label>
            <input
              type="text"
              class="form-control"
              name="campground[location]"
              id="location"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="from-label" for="image">Choose Image</label>
            <!-- <input
              type="text"
              class="form-control"
              name="campground[image]"
              id="image"
              required
            /> -->
            <input class="form-control" type="file" name="image" id="image" multiple>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="from-label" for="price">Price</label>
            <input
              type="number"
              class="form-control"
              name="campground[price]"
              id="price"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="from-label" for="description">Description</label>
            <textarea
              type=""
              class="form-control"
              name="campground[description]"
              id="description"
              required
            ></textarea>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <button class="btn btn-success" type="submit">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
